# Dataset
/data/

# Model outputs and generated artifacts
/outputs/

# Python virtual environment
/.venv/

# IDE
/.idea/
/.vscode/

# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/
